
.card {
  margin: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
  visibility: visible;
  position: relative;
  top: 50%;
  text-align: center;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  color: whitesmoke;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.card-text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  position: relative;
  top: 20%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: whitesmoke;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.card:hover .card {
  background-color: darkblue;
  opacity: 0;

}

.card:hover .card-title{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  top: 20%;
  transform: translateY(-30%);

}

.card:hover .card-text{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
  color: black;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  transform: translateY(10px);
}