.socialMediaIcons a {
  color: whitesmoke;
  margin: 3px;
}

.socialMediaIcons a:hover i {
  transform: translateY(-10px);
  transition: 0.5s;
  color: #ffdee4;
}

.footer {
  height: 125px;
  padding: 25px;
  background: linear-gradient( #0c1115, #42526a); 
}