#landing {
  background-image: url("../assets/planetside.png");
  /* credits @ https://www.reddit.com/r/Planetside/comments/ath0fn/the_sun_awakens_over_the_mountain_ranges/ */
  background-size:     100% 100%;                      /* <------ */
  background-position: center center; 
  height: 100vh;
  width: 99.1vw;
  font-family: 'Bebas Neue', cursive;
}

.landing {
  position: relative;
  top: 40vh;
  margin-bottom: 0;
  color: #508991;
}

.code-Text {
  color: greenyellow;
}

.code {
  color: violet;
}

.last {
  position: relative;
  right: 30px;
}

.landing-btn {
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
  .landing-btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
  }
}