section {
  background-image: url("../assets/2027.jpg"), linear-gradient(#eb01a5, #d13531);
  background-size:     100% 100%;                      /* <------ */
  background-position: center center; 
  height: 100vh;
  width: 99.1vw;
  font-family: 'Bebas Neue', cursive;
}

section article {
  position: relative;
  top: 45vh;
  margin-bottom: 0;
  color: #508991;
}

.code-Text {
  color: greenyellow;
}

.code {
  color: violet;
}

.last {
  position: relative;
  right: 30px;
}