section {
  /* background-image: url("paper.gif"); */
  height: 100vh;
  width: 100vw;
  font-family: 'Bebas Neue', cursive;
  background-image: linear-gradient(#364652, #04151F);
}

section article {
  position: relative;
  top: 33vh;
}

.code-Text {
  color: greenyellow;
}

.code {
  color: violet;
}