section {
  background-image: url("../assets/brushed-alum.png"), linear-gradient(#eb01a5, #d13531);;
  height: 100vh;
  width: 99.1vw;
  font-family: 'Bebas Neue', cursive;
}

section article {
  position: relative;
  top: 33vh;
  text-shadow: 3px 3px #04151F;
  margin-bottom: 0;
}

.code-Text {
  color: greenyellow;
}

.code {
  color: violet;
}

.last {
  position: relative;
  right: 30px;
}