.App {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #0c1115, #111619, #0e1316); 
}

.App-logo {
  height: 70%;
  width: 70%;
} 

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mini {
  font-size: 10px;
  color: #09d3ac;
}


.codes {
  text-align: center;
}

.shrink {
  font-size: 14px;
}

h2 {
  color: whitesmoke;
  margin-left: 7vw;
  margin-right: 7vw;
  border-bottom: 1px double whitesmoke;
  width: 86%;
  display: block;
}

img {
  width: 30px;
  height: 30px;
}