.App {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #0c1115, #111619, #0e1316); 
}

.App-logo {
  height: 70%;
  width: 70%;
} 

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.mini {
  font-size: 11px;
  color: #09d3ac;
}


.codes {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.shrink {
  font-size: 14px;
}

h2 {
  color: whitesmoke;
  margin-left: 7vw;
  margin-right: 7vw;
  border-bottom: 1px double whitesmoke;
  width: 86%;
  display: block;
}

img {
  width: 75px;
  height: 75px;
}

a:link {
  color: #8fbbf2;
}

a:visited {
  color: #42526a;
}

a:hover {
  color: #fecee2 !important;
}

@media only screen and (max-width: 405px) {
  .overflow {
    visibility: hidden;
  }
}

.hidden {
  opacity: 0;
  height: 0px;
}

.show {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  margin: 2%;
  width: 96% !important;
  color: whitesmoke;
}

.btn {
  margin: 2%;
  width: 96% !important;
}

/* basic positioning */
.legend { list-style: none; }
.legend li {  margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .superawesome { background-color: #ff00ff; }
.legend .awesome { background-color: #00ffff; }
.legend .kindaawesome { background-color: #0000ff; }
.legend .notawesome { background-color: #000000; }
